include ../mixins/menu
include ../mixins/socials

header#header.header
  .container.header__inner.navbar.navbar-expand-lg
    .header__mobile-group
      #menuBurger.burger.header__burger(
        data-toggle='collapse'
        data-target='#mainNav'
        aria-controls='mainNav'
        aria-expanded='false'
        aria-label='Toggle navigation'
      )
        span.burger__stick
        span.burger__stick
        span.burger__stick

      a.logo.mx-auto.header__logo(href='/')
        img.logo__img(
          width='100'
          src='imgs/logo.svg'
          alt='Site logo'
        )

    a#mobileSearchBtn.header__mobile-search-btn.search-btn(href='#')
      img.search-btn__search-icon(src='/imgs/icons/search.svg')
      include close-icon.pug

    nav#mainNav.header__nav.collapse.navbar-collapse
      +menu(mainMenu)(id="mainMenu" class='sm header__menu')

    - const socialsOptions = { linkClass: 'header__socials-link', searchBtnClass: 'header__search-btn' };
    +socials(socials, socialsOptions)(class="header__socials")
