extends ../layout.pug

mixin featured-news({ href = '', img = '' } = {})
  .featured-news.content-container.px-sm-0
    .container.featured-news__inner
      h2.featured-news__heading
        a.brand-link(href="#") Интервью с победителями международной олимпиады по химии

      img.featured-news__icon.ml-3(src=img)

mixin content-info(items = [])
  if items.length
    footer.content-info&attributes(attributes)
      each item, index in items
        if index
          span.content-info__separator •
        if (item.link)
          a.content-info__item.brand-link(href=item.link)= item.name
        else
          span.content-info__item= name


mixin label({ link, name = '' } = {})
  if name
    if link
      a.label(href=link)&attributes(attributes)= name
    else
      span.label&attributes(attributes)= name

mixin module({ title, link, img, label = {}, contentInfo = [] } = {})
  article.module&attributes(attributes)
    +label(label).module__label

    a.module__img-link(href=link)
      .module__img(style=`background-image: url('${img}');`)
      img.module__img-height-fix(src=img)

    .module__content
      h2.module__heading
        a.module__link(href=link)!= title

      +content-info(contentInfo)(class='content-info--large module__content-info')

mixin short-news({ title, link, contentInfo = []} = {})
  article.short-news
    +content-info(contentInfo)(class="content-info--small short-news__content-info text-uppercase")

    h3.short-news__heading
      a.brand-link(href=link)!= title

mixin special-news({ title, link, img = '', contentInfo = [] } = {})
  article.special-news.media&attributes(attributes)
    a.img-link.align-self-center.mr-3(href=link)
      img.special-news__img(src=img alt='')

    .media-body
      +content-info(contentInfo)(class='content-info--large c-white')

      h2.h2.mt-3
        a.brand-link(href=link) Ольга Славникова — о Хокинге, уральском мифе и своих новых романах

mixin subscription-form
  section.subscription&attributes(attributes)
    .subscription__inner.container
      .row
        .col-12.col-xl-auto.text-center
          h2.subscription__heading
          | Подпишитесь на нашу рассылку
          img.subscription__arrow(src='/imgs/icons/arrow-down.svg')

        .col-12.col-md-8.col-xl
          input.input-text.subscription__input(type='text' placeholder='Оставьте вашу электронную почту')

        .col-12.col-md-4.col-xl
          button.subscription__btn Подписаться

mixin accent({ link, title } = {})
  a.accent.brand-link(href=link)&attributes(attributes)= title

block title
  title= pageTitle

block content
  +featured-news({ href: '#', img: '/imgs/stickers/medal.png' })

  .container.mt-1px.mt-md-3
    .grid.grid--small-gaps.grid--lg-modules

      .grid__item.align-content-md-start.col-12.col-lg-9.height-fix
        .grid.grid--small-gaps.grid--lg-modules.flex-auto
          .grid__item.col-12.col-md-6.col-xl-12.height-fix
            +module(modules1[0])(class='module--lg-wide module--lg-full-img flex-auto')
          each index in [1, 2, 3]
            .grid__item.col-12.col-md-6.col-xl-4.height-fix
              +module(modules1[index])(class='flex-auto')


      .grid__item.col-12.col-lg-3.height-fix
        .grid.grid--small-gaps.flex-column.flex-auto
          each item in shortNewsList
            .grid__item
              +short-news(item)

          .grid__item.d-lg-flex.flex-auto
            .show-more.show-more--reversed-colors
              a.show-more__link.text-uppercase(href='#') Больше новостей

  .container.mt-1px.mt-md-4
    .position-relative
      .hr
      a.label.position-absolute(href='#') день рождения стивена хокинга

    .content-container.px-sm-0.row
      .col-12.col-xl-6.align-self-md-end.mt-5.pr-xl-4.c-white
        - contentInfo = [{ name: 'Роман Навескин', link: '#' }, { name: '17 июля', link: '#' }]
        +content-info(contentInfo)(class='content-info--large c-white mb-3')

        .h1
          a.brand-link(href='#') Стивен Хокинг — о восстановлении экспериментальной физики в России

      .col-12.col-xl-6
        each item, index in specialNewsList
          if index
            .hr.mt-4(style='margin-left: 95px;')
          +special-news(item)(class='mt-4 c-white')

  .container.mt-5
    .grid.grid--small-gaps.grid--lg-modules
      .grid__item.col-12.col-md-6.height-fix
        +module(modules2[0])(class='flex-auto module--lg-large')
      .grid__item.col-12.col-md-6.height-fix
        +module(modules2[1])(class='flex-auto module--lg-large module--lg-full-img module--lg-theme-light')
      .grid__item.col-12.col-md-12
        +module(modules2[2])(class='module--lg-wide module--lg-full-img')

  +subscription-form(class='mt-1px mt-md-4')

  .container.mt-1px.mt-md-4
    .grid.grid--small-gaps.grid--lg-modules
      .grid__item.col-12.col-md-4.height-fix
        +module(modules3[0])(class='flex-auto')
      .grid__item.col-12.col-md-4.height-fix
        +module(modules3[1])(class='flex-auto module--lg-full-img module--lg-theme-light')
      .grid__item.col-12.col-md-4.height-fix
        +module(modules3[2])(class='flex-auto')

  .container.mt-1px.mt-md-3
    .grid.grid--small-gaps.grid--lg-accent.accent-list
      each index in [0, 1, 2, 3]
        .grid__item
          +accent(accentList[index])(class='accent--large')

      //- Separate large and regular 'accent'.
      .grid__item.p-0.w-100.m-0

      each index in [4, 5, 6, 7]
        .grid__item
          +accent(accentList[index])

  .container.mt-1px.mt-md-3
    .grid.grid--small-gaps.grid--lg-modules
      .grid__item.col-12.col-md-6.height-fix
        +module(modules4[0])(class='flex-auto module--lg-large module--lg-full-img')
      .grid__item.col-12.col-md-6.height-fix
        +module(modules4[1])(class='flex-auto module--lg-large')
      .grid__item.col-12.col-md-12
        +module(modules4[2])(class='flex-auto module--lg-wide module--lg-full-img module--lg-theme-light')

  .container.mt-1px.mt-md-4
    .position-relative
      .hr
      a.label.position-absolute(href='#') день рождения стивена хокинга

    .content-container.px-sm-0.row
      .col-12.col-xl-6.align-self-md-end.mt-5.pr-xl-4.c-white
        - contentInfo = [{ name: 'Наталья Белоусова', link: '#' }, { name: '11 июля', link: '#' }]
        +content-info(contentInfo)(class='content-info--large c-white mb-3')

        .h1
          a.brand-link(href='#') 8 вещей, которыеделают нас непривлекательными в глазах других

      .col-12.col-xl-6
        each item, index in specialNewsList2
          if index
            .hr.mt-4(style='margin-left: 95px;')
          +special-news(item)(class='mt-4 c-white')

  .container.mt-5
    .grid.grid--small-gaps.grid--lg-modules
      .grid__item.col-12.col-md-4.height-fix
        +module(modules5[0])(class='flex-auto')
      .grid__item.col-12.col-md-4.height-fix
        +module(modules5[1])(class='flex-auto')
      .grid__item.col-12.col-md-4.height-fix
        +module(modules5[2])(class='flex-auto module--lg-full-img module--lg-theme-light')

  .container
    .grid.grid--small-gaps.grid--lg-modules
      .grid__item.col-12.col-md-6.height-fix
        +module(modules6[0])(class='flex-auto module--lg-large module--lg-full-img module--lg-theme-light')
      .grid__item.col-12.col-md-6.height-fix
        +module(modules6[1])(class='flex-auto module--lg-large')

  .container.mt-md-4
    .position-relative.mb-5
      .hr
      span.label.position-absolute Сториз

    //- d-block is hack for ie 10
    .jsStories.stories.grid.grid--force-small-gaps.grid--lg-force-modules.d-block
      each item in stories
        .grid__item
          +module(item)(class='module--story stories__story')

  .jsMediaNews.media-news.mt-3
    .media-news__inner.container
      .media-news__media.embed-responsive.embed-responsive-4by3
        .jsMediaNewsVideoPlayer.media-news__video.embed-responsive-item
        .media-news__cover(style="background-image: url('/imgs/photos/cover-1.png')")

        button.jsMediaNewsMediaControl.media-news__media-control.youtube-btn(type='button')
          svg.youtube-btn__svg(
            width='100px'
            height='75px'
            x='0px'
            y='0px'
            viewBox='-143 -22 512 384'
          )
            path.youtube-btn__shape(d='M365.6,62.8c0-45-33.1-81.2-74-81.2C236.2-21,179.7-22,122-22c-3,0-6,0-9,0s-6,0-9,0c-57.6,0-114.2,1-169.6,3.6c-40.8,0-73.9,36.4-73.9,81.4c-2.5,35.6-3.6,71.2-3.5,106.8c-0.1,35.6,1,71.2,3.4,106.9c0,45,33.1,81.5,73.9,81.5c58.2,2.7,117.9,3.9,178.6,3.8c60.8,0.2,120.3-1,178.6-3.8c40.9,0,74-36.5,74-81.5c2.4-35.7,3.5-71.3,3.4-107C369.1,134.1,368,98.5,365.6,62.8z M64,267.9V71.4l145,98.2L64,267.9z')

    .ticker.media-news__ticker
      .ticker__offset
      .ticker__items
        a.ticker__item.media-news__heading.gt.g-light-blue-to-spring-green(href='#') Антон Кораблев
